.menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:bisque;
}

.menu_ul li {
    float: left;
}

.menu_ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_ul li a:hover {
    background-color:coral;
}

span {
    font-weight: bolder;
    font-size: larger;
}