.menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(45, 122, 80);
} /*menu ul */

.menu_ul li {
    float: left;
    width: 200px;
} /* ul li*/

.menu_ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} /* a*/

.menu_ul li a:hover {
    background-color:seagreen;
} /* a*/

span {
    font-weight: bolder;
    font-size: larger;
} /* set font for span*/

#home,#about{
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} /* set backgroud picture */

#homelabel{
    background-color:seagreen;
    color: white;
    font-weight: bolder;
} /*home label */

#label{
   color: white;
} /*a label*/

#footer{
    background-color: rgb(45, 122, 80);
    color: white;
    border-color:rgb(45, 122, 80);
    margin-top: 230px;
    bottom:0;
    width:100%;
    height:60px;
} /*footer*/

#footer1{
    background-color: rgb(45, 122, 80);
    color: white;
    border-color:rgb(45, 122, 80);
} /*footer without position*/

#header{
    border-color: rgb(45, 122, 80);
} /*header*/

#labelabout{
    color:white;
    font-weight: bolder;
} /*label for contact page*/

.pagepayment{
    background-color:darkseagreen;
    color: black;
    font-weight: bolder;
} /*page payment text*/

.payment1{
    background-color: black;
    color: white;
    width: 300px;
    text-align: center;
} /*page payment text*/

.order{
    background-color: black;
    width: 300px;
    text-align: center;
    color: white;
} /*order page*/

.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
} /*set grid*/

.grid > article{
    background:seagreen;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 230px;
    margin-left: 30px;
    transition: transform .3s;
} /*set transistion*/

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
} /*hover at article*/

.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} /*set size article img*/

.text{
    padding: 0 20px 20px;
    color:white;
} /*text*/

.text h3{
    text-transform: uppercase;
} /* h3 text*/

.text button{
    border-radius: 20px;
    border:none;
    color:#fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
} /*set button attribute*/

@media (max-width:760px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}/*set max width*/

@media(max-width:500px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid > article{
        text-align: center;
    } /*set article text as center*/
}/*set max width*/

.specification{
    text-decoration: underline;
} /*set underline for text specification*/

.bg{
background:darkseagreen;
} /*set background for equipment and order page*/

#back{
    background:rgb(107, 151, 107);
    border-color: rgb(107, 151, 107);
} /* set background color for button calculate and reset*/

#table{
    background:oldlace;
    margin-left: 5%;
    color: black;
    border-collapse: collapse;
    border-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} /*table for contact us*/

.tablelabel{
    color: white;
    background-color: black;
    text-align: center;
} /* table label for contact us*/

#callsms{
    background: oldlace;
    border: oldlace;
} /*background for call and sms*/

#btn{
    color: white;
    background: black;
    font-weight: lighter;
} /*button color for contact us*/

#logo{
    height: 300px;
    max-width: 340px;
    margin-right: 20px;
} /*logo*/
